<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container mt-4">
    <div class="row">
        <% for( let p of plan ) { %>
            <div class="card mx-3 my-3 px-0" style="width: 18rem">
                <a href="/plans/<%= p.id %>">
                <img src="<%= p.Images[0] %>" alt="<%= p.Images[0] %>" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= p.Name %>
                    </h5>
                    <p class="card-text">
                        <%= p.SquareFeet %> SF
                        <br />
                        Primary suite on <%= p.MasterBedroomLocation %>
                        <br />
                        Garage size: <%= p.GarageSize %>
                    </p>
                </div>
                <div class="card-footer text-muted text-center">
                    Bath: <%= p.Bathrooms %> | Bed: <%= p.Bedrooms %> | Levels: <%= p.Levels %>
                </div>
            </a>
            </div>

            <% } %>
    </div>
</div>
    


<%- include('partials/footer') %>